@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    Practice Project Based off of Mosh Hamedeni's "The Complete ASP.NET MVC 5 Course."<br/>
    This project serves as a reference for future projects that will require similar features.
</p>
<p><u>FEATURES:</u>
    <ul>
        <li>ASP.NET MVC 5</li>
        <li>
            Authentication
            <ul>
                <li>Personal Accounts</li>
                <li>Social Login - Facebook</li>
            </ul>
        </li>
        <li>
            Authorization
            <ul>
                <li>Admin and Guest accounts</li>
            </ul>
        </li>
        <li>Database built on MS-SQL & Entity Framework</li>
        <li>RESTful API via web API Framework</li>
        <li>Clientside Validation</li>
        <li>
            Client-side Development
            <ul>
                <li>JQuery Ajax</li>
                <li>BootBox (JQuery Plugin)</li>
                <li>DataTable (JQuery Plugin)</li>
            </ul>
        </li>
        <li>Filtered input via Twitter's typeahead.js library</li>
        <li>Toast Notifications via "Toastr"</li>
        <li>Bootsrap Theme - Darkly by Bootswatch
            <ul>
                <li>With few modifications to better meet WCAG 2 AA contrast ratio thresholds and to better display colored error messages</li>
            </ul>
        </li>
    </ul>
</p>
